name: "Fetch releases from Anaconda and publish them on GitHub"
on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to fetch, optional and defaults to latest'
        required: false

  schedule:
    - cron: 0 */6 * * *

jobs:
  fetch_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: environment.yml
    - name: Add micromamba to GITHUB_PATH
      run: echo "${HOME}/micromamba-bin" >> "$GITHUB_PATH"
    
    - shell: bash -l {0}
      id: fetch-release
      run: |
        python -m pip install packaging
        python fetch_release.py ${{ github.event.inputs.version }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: steps.fetch-release.outputs.MICROMAMBA_NEW_VERSION == 'true'
      with:
        name: "micromamba ${{ steps.fetch-release.outputs.MICROMAMBA_VERSION }}"
        body: |
          Release artifacts for micromamba ${{ steps.fetch-release.outputs.MICROMAMBA_VERSION }}, mirrored from conda-forge.
          The full changelog can be found [here](https://github.com/mamba-org/mamba/releases).
        tag_name: ${{ steps.fetch-release.outputs.MICROMAMBA_VERSION }}
        files: |
          releases/*
